body{
    background-color: #f3eae3;
    box-sizing: border-box;
}

h4{
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    letter-spacing: 8px;
    padding-top: 10px;
    color: grey;
}

.col-lg-6{
    padding-left: 0;
}

.secondCont{
    padding: 30px;
}

.row {    
    background-color: white;
    margin:13% 25%;
    border-radius: 1%;
}

.prices{
    display: flex;
    align-items: center;
}

.prices h2 {
    font-size: 40px;
    color: #3d8168;
}

.prices p {
    text-decoration:line-through;
    margin: 15px;
    
}

.imagine{
    border-radius: 1% 0% 0% 1%;
    width: 100%;
    height:100%;
}

.imagine2{
    display: none;
}


h2{
    font-family:'Fraunces', serif;
    font-size: 50px;
    line-height: 45px;
    margin : 30px 0px;
}

p{
    color: grey;
    font-family: 'Montserrat', sans-serif ;
}

.but{
    background-color: #3d816a;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
}

.attribution{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    .col-lg-6{
        padding-right: 0;
    }
    .imagine{
        display:none;
    }

    .imagine2{
        display: block;
        width: 100%;
        width: 100%;
    }
}